<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>
    <br><br>
    <h3 style="text-align: center;"><%= titulo_1 %></h3>
    <br>
</main>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<div class="row">
    <div class="col s12 m11 l11 offset-l1 offset-m1" style="text-align: center;">
        <div class="input-field col s6 l6 m6 offset-l3">
            <i class="material-icons prefix">account_circle</i>
            <input id="nombre_completo" type="text" class="validate">
            <label for="icon_prefix">Nombre Completo</label>
        </div>
        <br><br><br><br><br>
        <a class="waves-effect waves-light btn" id="enviar_ajax">
            Registar
        </a>
    </div>
</div>
<div class="row">
    <div class="col s12 m11 l11 offset-l1 offset-m1" style="text-align: center;">
        <a class="waves-effect waves-light btn" id="mostrar1">
            Infectados
        </a>
        <a class="waves-effect waves-light btn" id="mostrar2">
            Desorientados
        </a>
        <a class="waves-effect waves-light btn" id="mostrar3">
            Violentos
        </a>
        <a class="waves-effect waves-light btn" id="mostrar4">
            Desmayados
        </a>
        <a class="waves-effect waves-light btn" id="mostrar5">
            Transformados
        </a>
        <br><br>
        <a class="waves-effect waves-light btn" id="mostrar_todos" >
            Mostrar Todos
        </a>
    </div>
</div>
<h3 style="text-align: center;"><%= titulo_2 %></h3>
    <div class="row">
        <div class="col s12 m12 l12" >
            <div id="sum_zombies_cont">
            </div>
            <table id="lista_zombies" style="text-align: center;">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Estado</th>
                        <th>Hora/Fecha</th>
                        <th>Editar Estatus</th>
                    </tr>
                </thead>
                <tbody id="table_body">

                </tbody>
            </table>
        </div>
    </div>
<script>M.AutoInit();</script>
<script src="/js/ajax.js"></script>
<script src="/js/infectados.js"></script>
<script src="/js/desorientados.js"></script>
<script src="/js/violentos.js"></script>
<script src="/js/desmayados.js"></script>
<script src="/js/transformados.js"></script>
<script src="/js/todos.js"></script>
</body>
<br><br><br><br>
<%- include('includes/footer.ejs') %>
